<header class="br-header compact">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <a href="https://www.gov.br">
      <img src="/assets/govbr/img/logo-govbr.png" alt="Logomarca GovBR" class="img-fluid" style="max-width: 150px;">
    </a>
    <div id="acessibilidade" class="d-flex flex-column flex-md-row align-items-center mt-3 mt-md-0 gap-3">
      <a href="#" onclick="contrastScript().toggleContrast(event)" class="text-white text-decoration-none d-flex align-items-center">
        <i class="fas fa-adjust me-2"></i><span>Alto Contraste</span>
      </a>
      <a href="//www.vlibras.gov.br" target="_BLANK" class="text-white text-decoration-none d-flex align-items-center">
        <i class="fas fa-deaf me-2"></i><span>VLibras</span>
      </a>
    </div>
  </div>
</header>

<br>

<router-outlet></router-outlet>