<div class="container mb-5">
    
  <div class="container">
    <div class="row">
      <div class="col-8 mb-3">
        <div class="br-input">
          <label for="input-medium">Nome</label>
          <input id="input-medium" type="text" placeholder="Nome do Responsável" />
        </div>
      </div>
      <div class="col">
        <div class="col mb-3">
          <div class="br-input">
            <label for="input-medium">Número</label>
            <input id="input-medium" type="number" placeholder="Número do Responsável" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="br-input">
          <label for="input-medium">Email</label>
          <input id="input-medium" type="email" placeholder="Email do Responsável" />
        </div>
      </div>
      <div class="col">
        <div class="br-input">
          <label for="input-medium">Email para Alerta</label>
          <input id="input-medium" type="email" placeholder="Email do Responsável para Alertas" />
        </div>
      </div>
      <div class="col">
        <div class="br-datetimepicker" data-mode="single" data-type="text">
          <div class="br-input has-icon">
            <label for="simples-input">Datepicker</label>
            <input id="simples-input" type="text" placeholder="Exemplo: 02/02/2024" data-input="data-input" />
            <button class="br-button circle small" type="button" aria-label="Abrir Timepicker" data-toggle="data-toggle"
              id="simples-input-btn" tabindex="-1" aria-hidden="true">
            </button>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-middle">
        <div class="br-switch icon" role="presentation" style="margin-top: 25px;">
          <input id="switch-icon" type="checkbox" name="switch-icon" checked="checked" role="switch" />
          <label for="switch-icon">Token Compartilhado</label>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-between" style="margin-top: 20px;">
      <div>
        <!-- <button class="br-button circle secondary  mr-3" type="button" aria-label="Ícone ilustrativo" (click)="sendInForm()"><i class="fas fa-arrow-circle-left" aria-hidden="true"></i>
        </button> -->
      </div>
      <div class="align-content-center">
        <!-- Cadastrar Sistema -->
      </div>
      <div>
        <button class="br-button primary mr-3" type="button">Salvar
        </button>
      </div>
    </div>
  </div>
  </div>